name: Build plugin

on:
  push:
    branches: [ "master" ]
    tags:
      - v0.*
      - v1.*

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: windows-latest
    permissions:
      contents: write
    steps:
    - uses: actions/checkout@v4

    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build #-DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build
      run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

    - name: Upload artifacts
      uses: actions/upload-artifact@v4.4.3
      with:
        name: enum_injector
        path: "${{github.workspace}}/build/${{env.BUILD_TYPE}}/content_injector.dll"

    - name: Upload files to release
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: "${{github.workspace}}/build/${{env.BUILD_TYPE}}/content_injector.dll"
